<div mat-dialog-content class="m-b-20" *ngIf="data">
  <div class="row">
    <div class="col-12 m-b-20">
      <h5 class="d-inline">กรุณาเลือกที่อยู่</h5>
      <i class="fas fa-times float-right poiter" (click)="onNoClick()"></i>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-hover custom-table" id="tblData">
              <thead>
                <tr>
                  <th class="text-left">ชื่อผู้รับ</th>
                  <th class="text-left">ที่อยู่</th>
                  <th class="text-right">เบอร์โทรศัพท์</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="poiter"
                  *ngFor="let item of params"
                  (click)="select(item)"
                >
                  <td class="text-left">{{ item.name }}</td>
                  <td class="text-left">
                    {{ item.info }} {{ item.subDistrict }} {{ item.district }}
                    {{ item.zipcode }}
                  </td>
                  <td class="text-right">{{ item.contact }}</td>
                  <td class="text-right" style="width: 50px">
                    <i
                      class="fas fa-check poiter text-success"
                      (click)="select(item)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
