<div
  mat-dialog-content
  style="max-height: 90vh"
  class="m-b-20"
  *ngIf="data"
  [formGroup]="formGroup"
>
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline">แก้ไขวันที่ลูกค้าจะใช้สินค้าหมด</h5>
      <i class="fas fa-times float-right poiter" (click)="onNoClick()"></i>
      <hr />
    </div>

    <div class="col-12">
      <div
        class="form-group"
        [ngClass]="{
          'is-invalid': f.endOfDose.touched && f.endOfDose.errors?.required
        }"
      >
        <label for="endOfDose">วันที่สินค้าจะหมด</label>
        <input
          type="text"
          class="form-control form-control-sm"
          bsDatepicker
          formControlName="endOfDose"
          [(ngModel)]="endOfDose"
          [ngClass]="{
            'is-invalid': f.endOfDose.touched && f.endOfDose.errors,
            'is-valid': f.endOfDose.touched && !f.endOfDose.errors
          }"
        />
        <small
          class="text-danger d-block"
          *ngIf="f.endOfDose.touched && f.endOfDose.errors?.required"
          >{{ "error.required" | translate }}</small
        >
      </div>
    </div>
    <div class="col-12 text-right">
      <button
        id="btnCancel"
        type="button"
        class="btn btn-secondary"
        (click)="onNoClick()"
      >
        ยกเลิก
      </button>
      <button
        id="btnSearch"
        type="button"
        class="btn btn-primary m-l-10"
        (click)="save()"
      >
        ยืนยัน
      </button>
    </div>
  </div>
</div>
