<div class="row" style="padding-top: 20px">
  <div class="col-12 col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">Activities</h5>
            <a
              class="text-info poiter float-right"
              (click)="isASCollapsed = !isASCollapsed"
              [attr.aria-expanded]="!isASCollapsed"
              ><span *ngIf="isASCollapsed">+</span
              ><span *ngIf="!isASCollapsed">-</span>advance search</a
            >
            <hr />
          </div>
          <div
            class="col-12"
            id="isASCollapsed"
            [collapse]="isASCollapsed"
            [isAnimated]="true"
          >
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="id">ActivityID</label>
                  <input
                    (keyup.enter)="criteria.page = 1; advanceSearch()"
                    autocomplete="off"
                    [(ngModel)]="criteria.code"
                    class="form-control form-control-sm"
                    id="id"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="name">ชื่อลูกค้า</label>
                  <input
                    (keyup.enter)="criteria.page = 1; advanceSearch()"
                    autocomplete="off"
                    [(ngModel)]="criteria.customerName"
                    class="form-control form-control-sm"
                    id="name"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="owner">ผู้ดูแล</label>
                  <input
                    (keyup.enter)="criteria.page = 1; advanceSearch()"
                    autocomplete="off"
                    [(ngModel)]="criteria.owner"
                    class="form-control form-control-sm"
                    id="owner"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="agent">ตัวแทนจำหน่าย</label>
                  <select
                    (change)="criteria.page = 1; search()"
                    [(ngModel)]="criteria.agent"
                    class="form-control form-control-sm"
                    id="agent"
                  >
                    <option [ngValue]="undefined">ทั้งหมด</option>
                    <option
                      *ngFor="let item of master.agents"
                      [ngValue]="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="status">สถานะ</label>
                  <ng-multiselect-dropdown
                    [placeholder]="'โปรดเลือก'"
                    [settings]="dropdownSettings"
                    [data]="master.status"
                    [(ngModel)]="criteria.status"
                    (onSelect)="criteria.page = 1; advanceSearch()"
                    (onSelectAll)="criteria.page = 1; advanceSearch()"
                  >
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="col-12 m-b-20">
                <button
                  id="btnSearch"
                  type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="criteria.page = 1; advanceSearch()"
                >
                  ค้นหา
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <drag-scroll [scrollbar-hidden]="true" style="height: 27px">
              <button
                drag-scroll-item
                *ngFor="let item of master.activityDate; let index = index"
                type="button"
                class="btn btn-sm"
                (click)="criteria.page = 1; searchDate(index)"
                [ngClass]="{
                  'btn-primary': index == criteria.selectBtnIndex,
                  'btn-outline-primary': index != criteria.selectBtnIndex
                }"
              >
                <small>{{ item.display }} ({{ item.qty }})</small>
              </button>
            </drag-scroll>
          </div>

          <div
            class="col-12"
            style="max-height: calc(100vh - 320px); overflow: auto"
            *ngIf="data.data"
          >
            <table class="table table-hover custom-table" id="tblData">
              <thead>
                <tr>
                  <th class="text-left">ชื่อลูกค้า</th>
                  <th class="text-left">สินค้า</th>
                  <th class="text-center">ผู้ดูแล</th>
                  <th class="text-center">วันที่ต้องติดตาม</th>
                  <th style="width: 70px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.data">
                  <td class="text-left">
                    <div>{{ item.customerName }}</div>
                    <small>{{ item.code }}</small>
                  </td>
                  <td class="text-left">
                    <div>{{ item.description }}</div>
                    <small>ตัวแทนจำหน่าย : {{ item.agentName }}</small>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.ownerUser">{{ item.ownerUser }}</span>
                    <span *ngIf="!item.ownerUser">-</span>
                  </td>
                  <td class="text-center">
                    <div>{{ item.dueDate | date: "dd/MM/yyyy" }}</div>
                    <small>{{ item.status }}</small>
                  </td>
                  <td class="text-left">
                    <div ngbDropdown container="body">
                      <a id="ddMenu1" style="color: #007bff" ngbDropdownToggle
                        ><b><small>ตัวจัดการ</small></b></a
                      >
                      <div ngbDropdownMenu aria-labelledby="ddMenu1">
                        <button
                          class="w-100"
                          (click)="update(item)"
                          ngbDropdownItem
                        >
                          เปลี่ยนผู้รับผิดชอบ
                        </button>
                        <button
                          class="w-100"
                          (click)="view(item)"
                          ngbDropdownItem
                        >
                          ดูข้อมูล
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6" *ngIf="data.data">
            <div class="form-group">
              <select
                (change)="criteria.page = 1; search()"
                [(ngModel)]="criteria.size"
                class="form-control form-control-sm"
                id="status"
                style="width: auto"
              >
                <option [ngValue]="5">แสดงผล 5 รายการ</option>
                <option [ngValue]="20">แสดงผล 20 รายการ</option>
                <option [ngValue]="100">แสดงผล 100 รายการ</option>
              </select>
            </div>
          </div>
          <div class="col-6" *ngIf="data.data">
            <ngb-pagination
              class="float-right"
              [(page)]="criteria.page"
              [pageSize]="criteria.size"
              [maxSize]="10"
              [collectionSize]="data.totalRecord"
              (pageChange)="search()"
            ></ngb-pagination>
          </div>
          <div class="col-12" *ngIf="!data.data">
            <div class="nodata">ไม่พบรายการที่ค้นหา</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">To do list</h5>
            <hr />
          </div>
          <div
            class="col-12 text-right"
            *ngIf="openTasks && openTasks.length > 0"
          >
            <div
              class="text-info text-right poiter"
              (click)="isTodoCollapsed1 = !isTodoCollapsed1"
              [attr.aria-expanded]="!isTodoCollapsed1"
              aria-controls="collapseBasic"
            >
              รายการที่ต้องทำ
              <i class="ft-chevron-down" *ngIf="isTodoCollapsed1"></i
              ><i class="ft-minus" *ngIf="!isTodoCollapsed1"></i>
            </div>
          </div>
          <div
            id="collapseBasic"
            [collapse]="isTodoCollapsed1"
            [isAnimated]="true"
            class="m-b-20"
          >
            <div
              class="col-12 m-b-5"
              *ngFor="let item of openTasks; let index = index"
            >
              <div class="task-box">
                <div class="row">
                  <div class="col-8">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="selectViewOrder{{ index }}"
                        [(ngModel)]="item.isClose"
                        (change)="close(item)"
                      />
                      <label
                        class="custom-control-label poiter"
                        for="selectViewOrder{{ index }}"
                        style="word-break: break-all"
                        >{{ item.description }}</label
                      >
                    </div>
                  </div>
                  <div class="col-4 text-right">{{ item.createBy }}</div>
                  <div class="col-6">
                    <a class="text-info"
                      ><small>{{ item.activityCode }}</small></a
                    >
                  </div>
                  <div class="col-6 text-right">
                    <small
                      >{{ item.scheduleDate | date: "dd/MM/yyyy" }}
                      {{ item.scheduleTime }}</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-12 text-right"
            *ngIf="closeTasks && closeTasks.length > 0"
          >
            <!-- <button
              type="button"
              class="btn btn-primary"
              (click)="isTodoCollapsed2 = !isTodoCollapsed2"
              [attr.aria-expanded]="!isTodoCollapsed2"
              aria-controls="collapseBasic"
            >
              รายการที่ทำเสร็จแล้ว
              <i class="ft-chevron-down" *ngIf="isTodoCollapsed2"></i
              ><i class="ft-minus" *ngIf="!isTodoCollapsed2"></i>
            </button> -->
            <div
              class="text-info text-right poiter"
              (click)="isTodoCollapsed2 = !isTodoCollapsed2"
              [attr.aria-expanded]="!isTodoCollapsed2"
              aria-controls="collapseBasic"
            >
              รายการที่ทำเสร็จแล้ว
              <i class="ft-chevron-down" *ngIf="isTodoCollapsed2"></i
              ><i class="ft-minus" *ngIf="!isTodoCollapsed2"></i>
            </div>
          </div>
          <div
            id="collapseBasic"
            [collapse]="isTodoCollapsed2"
            [isAnimated]="true"
          >
            <div class="col-12 m-b-5" *ngFor="let item of closeTasks">
              <div class="task-box">
                <div class="row">
                  <div class="col-8">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="selectViewOrder{{ index }}"
                        [(ngModel)]="item.isClose"
                        (change)="reopen(item)"
                      />
                      <label
                        class="custom-control-label poiter"
                        for="selectViewOrder{{ index }}"
                        style="
                          word-break: break-all;
                          text-decoration-line: line-through;
                        "
                        >{{ item.description }}</label
                      >
                    </div>
                  </div>
                  <div class="col-4 text-right">{{ item.createBy }}</div>
                  <div class="col-6">
                    <a class="text-info"
                      ><small>{{ item.activityCode }}</small></a
                    >
                  </div>
                  <div class="col-6 text-right">
                    <small
                      >{{ item.scheduleDate | date: "dd/MM/yyyy" }}
                      {{ item.scheduleTime }}</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
