.table thead th {
  background-color: #ffffff;
}

.nodata {
  border: 1px solid #e3e3e3;
  padding: 20px;
  text-align: center;
}

drag-scroll {
  ::ng-deep .drag-scroll-content::-webkit-scrollbar {
    display: none !important;
  }
  ::ng-deep .drag-scroll-content {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}
