<app-nav-bar></app-nav-bar>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h5 class="d-inline">จัดการข้อมูลตัวแทนจำหน่าย</h5>
        <hr />
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="keyword">Keyword</label>
          <input
            (keyup.enter)="criteria.page = 1; search()"
            autocomplete="off"
            [(ngModel)]="criteria.keyword"
            class="form-control form-control-sm"
            id="keyword"
          />
        </div>
      </div>

      <div class="col-12">
        <button
          id="btnSearch"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="criteria.page = 1; search()"
        >
          ค้นหา
        </button>
        <button
          id="btnSearch"
          type="button"
          class="btn btn-sm btn-primary m-l-10"
          [routerLink]="['/agent/create']"
          routerLinkActive="router-link-active"
          *ngIf="user.function.CREATE_AGENT"
        >
          เพิ่มตัวแทนจำหน่าย
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <hr />
        ข้อมูลทั้งหมด {{ data.totalRecord | number: ".0" }} รายการ
      </div>
    </div>
    <div class="row" *ngIf="data.totalRecord > 0">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover custom-table" id="tblData">
            <thead>
              <tr>
                <th class="text-center" style="width: 100px">รหัสตัวแทน</th>
                <th class="text-left">ชื่อตัวแทน</th>
                <th style="width: 70px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.data">
                <td class="text-center">{{ item.code }}</td>
                <td class="text-left">{{ item.name }}</td>
                <td class="text-center" style="width: 120px">
                  <div ngbDropdown container="body">
                    <a id="ddMenu1" style="color: #007bff" ngbDropdownToggle
                      ><b><small>ตัวจัดการ</small></b></a
                    >
                    <div ngbDropdownMenu aria-labelledby="ddMenu1">
                      <button
                        class="w-100"
                        (click)="update(item)"
                        ngbDropdownItem
                        *ngIf="user.function.CREATE_AGENT"
                      >
                        ดู / แก้ไขข้อมูล
                      </button>
                      <button
                        class="w-100"
                        (click)="view(item)"
                        ngbDropdownItem
                        *ngIf="!user.function.CREATE_AGENT"
                      >
                        ดูข้อมูล
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <select
            (change)="criteria.page = 1; search()"
            [(ngModel)]="criteria.size"
            class="form-control form-control-sm"
            id="status"
            style="width: auto"
          >
            <option [ngValue]="5">แสดงผล 5 รายการ</option>
            <option [ngValue]="20">แสดงผล 20 รายการ</option>
            <option [ngValue]="100">แสดงผล 100 รายการ</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <ngb-pagination
          class="float-right"
          [(page)]="criteria.page"
          [pageSize]="criteria.size"
          [maxSize]="10"
          [collectionSize]="data.totalRecord"
          (pageChange)="search()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
