<app-nav-bar></app-nav-bar>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h5 class="d-inline">รายการคำขอ</h5>

        <hr />
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="dates">วันที่สร้างรายการ</label>
          <input
            readonly
            autocomplete="off"
            [(ngModel)]="criteria.dates"
            [bsValue]="criteria.dates"
            class="form-control form-control-sm"
            id="dates"
            bsDaterangepicker
            [bsConfig]="{
              rangeInputFormat: 'DD/MM/YYYY',
              dateInputFormat: 'DD/MM/YYYY',
              showWeekNumbers: false,
              ranges: ranges
            }"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="status">สถานะ</label>
          <select
            (change)="criteria.page = 1; search()"
            [(ngModel)]="criteria.status"
            class="form-control form-control-sm"
            id="status"
          >
            <option [ngValue]="undefined">ทั้งหมด</option>
            <option [ngValue]="'REQUEST'">รอดำเนินการ</option>
            <option [ngValue]="'APPROVE'">อนุมัติ</option>
            <option [ngValue]="'REJECT'">ไม่อนุมัติ</option>
          </select>
        </div>
      </div>

      <div class="col-12">
        <button
          id="btnSearch"
          type="button"
          class="btn btn-secondary"
          (click)="criteria.page = 1; search()"
        >
          ค้นหา
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <hr />
        ข้อมูลทั้งหมด {{ data.totalRecord | number: ".0" }} รายการ
      </div>
    </div>
    <div class="row" *ngIf="data.totalRecord > 0">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover custom-table" id="tblData">
            <thead>
              <tr>
                <th class="text-center" style="width: 150px">วันที่สร้าง</th>
                <th class="text-center" style="width: 150px">ประเภทข้อมูล</th>
                <th class="text-center" style="width: 150px">ผู้สร้างรายการ</th>
                <th class="text-center" style="width: 70px">สถานะ</th>
                <th class="text-left">หมายเหตุ</th>
                <th style="width: 70px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.data; let i = index">
                <td class="text-center">
                  {{ item.createDate | date: "dd/MM/yyyy HH:mm:ss" }}
                </td>
                <td class="text-center">
                  <span *ngIf="item.requestType == 'UPDATE_USER'"
                    >แก้ไขข้อมูลผู้ใช้งาน</span
                  >
                  <span *ngIf="item.requestType == 'CREATE_USER'"
                    >สร้างข้อมูลผู้ใช้งาน</span
                  >
                </td>
                <td class="text-center">
                  <span>{{ item.createBy }}</span>
                </td>
                <td class="text-center">
                  <span
                    *ngIf="item.status == 'REQUEST'"
                    class="badge badge-warning"
                    >รอดำเนินการ</span
                  >
                  <span
                    *ngIf="item.status == 'APPROVE'"
                    class="badge badge-success"
                    >อนุมัติ</span
                  >
                  <span
                    *ngIf="item.status == 'REJECT'"
                    class="badge badge-danger"
                    >ไม่อนุมัติ</span
                  >
                </td>
                <td class="text-left">
                  <span>{{ item.reason }}</span>
                </td>
                <td class="text-center" style="width: 120px">
                  <div ngbDropdown container="body">
                    <a id="ddMenu1" style="color: #007bff" ngbDropdownToggle
                      ><b><small>ตัวจัดการ</small></b></a
                    >
                    <div ngbDropdownMenu aria-labelledby="ddMenu1">
                      <button
                        class="w-100"
                        (click)="update(item)"
                        ngbDropdownItem
                        *ngIf="
                          user.business.businessType == 'H' &&
                          user.function.SUPERVISOR &&
                          item.status == 'REQUEST'
                        "
                      >
                        จัดการรายการ
                      </button>

                      <button
                        class="w-100"
                        (click)="view(item)"
                        ngbDropdownItem
                      >
                        ดูข้อมูล
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <select
            (change)="criteria.page = 1; search()"
            [(ngModel)]="criteria.size"
            class="form-control form-control-sm"
            id="status"
            style="width: auto"
          >
            <option [ngValue]="5">แสดงผล 5 รายการ</option>
            <option [ngValue]="20">แสดงผล 20 รายการ</option>
            <option [ngValue]="100">แสดงผล 100 รายการ</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <ngb-pagination
          class="float-right"
          [(page)]="criteria.page"
          [pageSize]="criteria.size"
          [maxSize]="10"
          [collectionSize]="data.totalRecord"
          (pageChange)="search()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
