<div mat-dialog-content class="m-b-20">
  <div class="row m-b-20">
    <div class="col-12">
      <h5 class="d-inline">ตารางเปรียบเทียบ Plan</h5>
      <i class="fas fa-times float-right poiter" (click)="onNoClick()"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover custom-table" id="tblData">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center" style="width: 100px">
                Lite <br />
                Plan
              </th>
              <th class="text-center" style="width: 100px">
                Basic <br />
                Plan
              </th>
              <th class="text-center" style="width: 100px">
                Premium <br />
                Plan
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <b>จำนวนเซลเพจ</b>
              </td>
              <td class="text-center">2</td>
              <td class="text-center">10</td>
              <td class="text-center">ไม่จำกัด</td>
            </tr>
            <tr>
              <td>
                <b>จำนวนยูสเซอร์</b>
              </td>
              <td class="text-center">1</td>
              <td class="text-center">3</td>
              <td class="text-center">ไม่จำกัด</td>
            </tr>
            <tr>
              <td>
                <b>จำนวนออเดอร์</b>
              </td>
              <td class="text-center">ไม่จำกัด</td>
              <td class="text-center">ไม่จำกัด</td>
              <td class="text-center">ไม่จำกัด</td>
            </tr>
            <!-- <tr>
              <td>
                <b>ย่อ URL แบบ Bitly</b>
              </td>
              <td class="text-center">
                5
              </td>
              <td class="text-center">
                50
              </td>
              <td class="text-center">
                ไม่จำกัด
              </td>
            </tr> -->
            <tr>
              <td>
                <b>ฟีเจอร์โปรโมชั่น</b>
              </td>
              <td class="text-center">❌</td>
              <td class="text-center">✔️</td>
              <td class="text-center">✔️</td>
            </tr>
            <tr>
              <td>
                <b>ฟีเจอร์คอมเม้น</b>
              </td>
              <td class="text-center">❌</td>
              <td class="text-center">✔️</td>
              <td class="text-center">✔️</td>
            </tr>
            <tr>
              <td>
                <b>ฟีเจอร์ Real Time Order</b>
              </td>
              <td class="text-center">❌</td>
              <td class="text-center">✔️</td>
              <td class="text-center">✔️</td>
            </tr>
            <tr>
              <td>
                <b>SMS ฟรีเมื่อสมัครสมาชิกรายปี</b>
              </td>
              <td class="text-center">0</td>
              <td class="text-center">1,000</td>
              <td class="text-center">2,000</td>
            </tr>
            <tr>
              <td>
                <b>ใช้ Domain เป็นชื่อของตนเองเมื่อสมัครสมาชิกรายปี</b>
              </td>
              <td class="text-center">❌</td>
              <td class="text-center">✔️</td>
              <td class="text-center">✔️</td>
            </tr>
            <tr>
              <td>
                <b>ราคา ต่อ เดือน</b>
              </td>
              <td class="text-center">390</td>
              <td class="text-center">890</td>
              <td class="text-center">1,890</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
