<app-nav-bar></app-nav-bar>

<app-product-detail
  *ngIf="data"
  [data]="data"
  [formGroup]="formGroup"
  [header]="'เพิ่มข้อมูลสินค้า'"
></app-product-detail>

<div class="row m-b-20">
  <div class="col-12 text-right">
    <button
      [routerLink]="['/product']"
      routerLinkActive="router-link-active"
      type="button"
      class="btn btn-secondary"
    >
      Back
    </button>
    <button (click)="save()" type="button" class="btn btn-primary m-l-10">
      Save
    </button>
  </div>
</div>
