<div class="row m-b-20" [formGroup]="formGroup" *ngIf="data">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">{{ header }}</h5>
            <hr />
          </div>
          <div class="col-md-3">
            <div
              class="form-group"
              [ngClass]="{
                'is-invalid': f.username.touched && f.username.errors
              }"
            >
              <label for="username">Username *</label>
              <input
                autocomplete="off"
                maxlength="50"
                id="username"
                class="form-control form-control-sm"
                formControlName="username"
                [(ngModel)]="data.username"
                [ngClass]="{
                  'is-invalid': f.username.touched && f.username.errors,
                  'is-valid': f.username.touched && !f.username.errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="f.username.touched && f.username.errors?.required"
                >{{ "error.required" | translate }}</small
              >
              <small
                class="text-danger"
                *ngIf="f.username.touched && f.username.errors?.pattern"
                >กรอกได้เฉพาะภาษาอังกฤษและตัวเลขเท่านั้น</small
              >
              <small
                class="text-danger d-block"
                *ngIf="
                  f.username.touched &&
                  (f.username.errors?.maxlength || f.username.errors?.minlength)
                "
                >6 - 20 ตัวอักษร</small
              >
            </div>
          </div>
          <div class="col-md-3" *ngIf="user.business.businessType == 'H'">
            <div
              class="form-group"
              [ngClass]="{
                'is-invalid':
                  f.businessType.touched && f.businessType.errors?.required
              }"
            >
              <label for="businessType">กลุ่มผู้ใช้งาน *</label>
              <select
                class="form-control form-control-sm"
                id="businessType"
                formControlName="businessType"
                [(ngModel)]="data.businessType"
                [ngClass]="{
                  'is-invalid': f.businessType.touched && f.businessType.errors,
                  'is-valid': f.businessType.touched && !f.businessType.errors
                }"
                (change)="changeBusinessType()"
              >
                <option [ngValue]="undefined">
                  {{ "common.please-select" | translate }}
                </option>
                <option [ngValue]="'H'">สำนักงานใหญ่</option>
                <option [ngValue]="'A'">ตัวแทนจำหน่าย</option>
              </select>
              <small
                class="text-danger"
                *ngIf="
                  f.businessType.touched && f.businessType.errors?.required
                "
                >{{ "error.required" | translate }}</small
              >
            </div>
          </div>
          <div
            class="col-md-3"
            *ngIf="
              data.businessType == 'A' && user.business.businessType == 'H'
            "
          >
            <div
              class="form-group"
              [ngClass]="{
                'is-invalid':
                  f.businessId.touched && f.businessId.errors?.required
              }"
            >
              <label for="businessId">ตัวแทนจำหน่าย *</label>
              <select
                class="form-control form-control-sm"
                id="businessId"
                formControlName="businessId"
                [(ngModel)]="data.businessId"
                [ngClass]="{
                  'is-invalid': f.businessId.touched && f.businessId.errors,
                  'is-valid': f.businessId.touched && !f.businessId.errors
                }"
              >
                <option [ngValue]="undefined">
                  {{ "common.please-select" | translate }}
                </option>
                <option
                  *ngFor="let item of user.userAgents"
                  [ngValue]="item.id"
                >
                  {{ item.name }}
                </option>
              </select>
              <small
                class="text-danger"
                *ngIf="f.businessId.touched && f.businessId.errors?.required"
                >{{ "error.required" | translate }}</small
              >
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="form-group"
              [ngClass]="{
                'is-invalid': f.status.touched && f.status.errors?.required
              }"
            >
              <label for="status">Status *</label>
              <select
                class="form-control form-control-sm"
                id="status"
                formControlName="status"
                [(ngModel)]="data.status"
                [ngClass]="{
                  'is-invalid': f.status.touched && f.status.errors,
                  'is-valid': f.status.touched && !f.status.errors
                }"
              >
                <option [ngValue]="undefined">
                  {{ "common.please-select" | translate }}
                </option>
                <option [ngValue]="1">ใช้งาน</option>
                <option [ngValue]="0">ไม่ใช้งาน</option>
              </select>
              <small
                class="text-danger"
                *ngIf="f.status.touched && f.status.errors?.required"
                >{{ "error.required" | translate }}</small
              >
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="username">LINE Notify Token</label>
              <input
                autocomplete="off"
                id="lineNotifyToken"
                class="form-control form-control-sm"
                formControlName="lineNotifyToken"
                [(ngModel)]="data.lineNotifyToken"
              />
            </div>
          </div>

          <div class="col-12">
            <hr />
          </div>
          <!-- <div class="col-12">
            <h5>สิทธิ์การเข้าถึงเมนู</h5>
          </div> -->

          <div class="col-6 col-md-3 m-b-20">
            <div>
              <h6>ข้อมูลผู้ใช้งาน</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectViewUser"
                formControlName="selectViewUser"
                [(ngModel)]="data.selectViewUser"
              />
              <label class="custom-control-label" for="selectViewUser"
                >ดูข้อมูล</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectCreateUser"
                formControlName="selectCreateUser"
                [(ngModel)]="data.selectCreateUser"
              />
              <label class="custom-control-label" for="selectCreateUser"
                >สร้าง / แก้ไขข้อมูล</label
              >
            </div>
          </div>

          <div class="col-6 col-md-3 m-b-20">
            <div>
              <h6>ข้อมูลลูกค้า</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectViewCustomer"
                formControlName="selectViewCustomer"
                [(ngModel)]="data.selectViewCustomer"
              />
              <label class="custom-control-label" for="selectViewCustomer"
                >ดูข้อมูล</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectCreateCustomer"
                formControlName="selectCreateCustomer"
                [(ngModel)]="data.selectCreateCustomer"
              />
              <label class="custom-control-label" for="selectCreateCustomer"
                >สร้าง / แก้ไขข้อมูล</label
              >
            </div>
          </div>

          <div class="col-6 col-md-3 m-b-20">
            <div>
              <h6>ข้อมูลรายการสั่งซื้อ</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectViewOrder"
                formControlName="selectViewOrder"
                [(ngModel)]="data.selectViewOrder"
              />
              <label class="custom-control-label" for="selectViewOrder"
                >ดูข้อมูล</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectCreateOrder"
                formControlName="selectCreateOrder"
                [(ngModel)]="data.selectCreateOrder"
              />
              <label class="custom-control-label" for="selectCreateOrder"
                >สร้าง / แก้ไขข้อมูล</label
              >
            </div>
          </div>

          <div class="col-6 col-md-3 m-b-20">
            <div>
              <h6>ฟังก์ชั่น CRM</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectCRM"
                formControlName="selectCRM"
                [(ngModel)]="data.selectCRM"
              />
              <label class="custom-control-label" for="selectCRM"
                >ใช้งาน CRM</label
              >
            </div>
          </div>

          <div class="col-6 col-md-3 m-b-20">
            <div>
              <h6>ระดับการจัดการ</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="supervisor"
                formControlName="supervisor"
                [(ngModel)]="data.supervisor"
              />
              <label class="custom-control-label" for="supervisor"
                >Supervisor</label
              >
            </div>
          </div>

          <div class="col-12" *ngIf="data.businessType == 'H'">
            <hr />
          </div>

          <div class="col-6 col-md-3 m-b-20" *ngIf="data.businessType == 'H'">
            <div>
              <h6>ข้อมูลตัวแทนจำหน่าย</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectViewAgent"
                formControlName="selectViewAgent"
                [(ngModel)]="data.selectViewAgent"
              />
              <label class="custom-control-label" for="selectViewAgent"
                >ดูข้อมูล</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectCreateAgent"
                formControlName="selectCreateAgent"
                [(ngModel)]="data.selectCreateAgent"
              />
              <label class="custom-control-label" for="selectCreateAgent"
                >สร้าง / แก้ไขข้อมูล</label
              >
            </div>
          </div>

          <div class="col-6 col-md-3 m-b-20" *ngIf="data.businessType == 'H'">
            <div>
              <h6>ข้อมูลสินค้า</h6>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectViewProduct"
                formControlName="selectViewProduct"
                [(ngModel)]="data.selectViewProduct"
              />
              <label class="custom-control-label" for="selectViewProduct"
                >ดูข้อมูล</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectCreateProduct"
                formControlName="selectCreateProduct"
                [(ngModel)]="data.selectCreateProduct"
              />
              <label class="custom-control-label" for="selectCreateProduct"
                >สร้าง / แก้ไขข้อมูล</label
              >
            </div>
          </div>

          <div class="col-12">
            <hr />
            <h5>ตัวแทนจำหน่ายที่สามารถจัดการได้</h5>
            <dual-list
              [display]="'name'"
              [key]="'id'"
              [source]="master.agents"
              [(destination)]="data.userAgents"
              [height]="'150px'"
              *ngIf="!isReadOnly"
            ></dual-list>
            <div *ngIf="isReadOnly">
              <span
                *ngFor="let item of data.userAgents"
                class="badge bg-light-danger"
                style="margin-right: 4px"
                >{{ item.name }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
