.info {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #00bfa5;
}

.error {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #c51162;
}

.b-error {
  background-color: #ffd5d5;
}

.b-info {
  border: #00bfa5 1px solid;
}
