<app-nav-bar></app-nav-bar>
<div class="row" style="zoom: 90%">
  <div class="col-12 col-md-4">
    <div class="card m-b-20">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">รายละเอียดลูกค้า</h5>
            <a
              class="float-right text-info poiter d-inline"
              (click)="updateCustomer()"
              ><small>แก้ไขข้อมูล</small></a
            >
            <hr />
          </div>
          <div class="col-12 text-center" *ngIf="loadingCustomer">
            <div class="loader"></div>
          </div>
          <div class="col-12" *ngIf="customer">
            <h6 class="d-inline">
              <!-- <i
                class="fab fa-line"
                style="color: #00b900; width: 30px"
                *ngIf="customer.channel == 'LINE'"
              ></i>
              <i
                class="fab fa-facebook"
                style="color: #1778f2; width: 30px"
                *ngIf="customer.channel == 'FACEBOOK'"
              ></i>
              <i
                class="far fa-address-card"
                style="width: 30px"
                *ngIf="customer.channel == 'SYSTEM'"
              ></i> -->

              <i
                class="far fa-address-card"
                style="width: 30px"
                *ngIf="!customer.sex"
              ></i>

              <i
                style="width: 30px"
                class="fas fa-mars text-info"
                *ngIf="customer.sex == 'M'"
              ></i>

              <i
                style="width: 30px"
                class="fas fa-venus text-danger"
                *ngIf="customer.sex == 'F'"
              ></i>

              <span>{{ customer.name }}</span>

              <span class="float-right" *ngIf="customer && customer.age"
                >อายุ {{ customer.age }} ปี</span
              >
            </h6>
          </div>

          <div class="col-12" *ngIf="customer">
            <h6 class="d-inline">
              <i class="fas fa-phone-square-alt" style="width: 30px"></i>
              <span>{{ customer.mobile }}</span>
            </h6>
          </div>

          <div class="col-12" *ngIf="customer">
            <h6 class="d-inline">
              <i class="far fa-envelope" style="width: 30px"></i>
              <span class="d-inline" *ngIf="customer.email">{{
                customer.email
              }}</span>
              <span class="d-inline" *ngIf="!customer.email">-</span>
            </h6>
          </div>
        </div>
      </div>
    </div>

    <div class="card section1">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">Activities</h5>
            <a
              class="text-info poiter float-right"
              (click)="isAdvanceCollapsed = !isAdvanceCollapsed"
              [attr.aria-expanded]="!isAdvanceCollapsed"
              ><span *ngIf="isAdvanceCollapsed">+</span
              ><span *ngIf="!isAdvanceCollapsed">-</span>advance search</a
            >
            <hr />
          </div>
          <div
            class="col-12"
            id="isAdvanceCollapsed"
            [collapse]="isAdvanceCollapsed"
            [isAnimated]="true"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="id">ActivityID</label>
                  <input
                    (keyup.enter)="criteria.page = 1; advanceSearch()"
                    autocomplete="off"
                    [(ngModel)]="criteria.code"
                    class="form-control form-control-sm"
                    id="id"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">ชื่อลูกค้า</label>
                  <input
                    (keyup.enter)="criteria.page = 1; advanceSearch()"
                    autocomplete="off"
                    [(ngModel)]="criteria.customerName"
                    class="form-control form-control-sm"
                    id="name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="owner">ผู้ดูแล</label>
                  <input
                    (keyup.enter)="criteria.page = 1; advanceSearch()"
                    autocomplete="off"
                    [(ngModel)]="criteria.owner"
                    class="form-control form-control-sm"
                    id="owner"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="agent">ตัวแทนจำหน่าย</label>
                  <select
                    (change)="criteria.page = 1; search()"
                    [(ngModel)]="criteria.agent"
                    class="form-control form-control-sm"
                    id="agent"
                  >
                    <option [ngValue]="undefined">ทั้งหมด</option>
                    <option
                      *ngFor="let item of master.agents"
                      [ngValue]="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="status">สถานะ</label>
                  <ng-multiselect-dropdown
                    [placeholder]="'โปรดเลือก'"
                    [settings]="dropdownSettings"
                    [data]="master.status"
                    [(ngModel)]="criteria.status"
                    (onSelect)="criteria.page = 1; advanceSearch()"
                    (onSelectAll)="criteria.page = 1; advanceSearch()"
                  >
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="col-12 m-b-20">
                <button
                  id="btnSearch"
                  type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="criteria.page = 1; advanceSearch()"
                >
                  ค้นหา
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <drag-scroll>
              <button
                drag-scroll-item
                *ngFor="let item of master.activityDate; let index = index"
                type="button"
                class="btn btn-sm"
                (click)="criteria.page = 1; searchDate(index)"
                [ngClass]="{
                  'btn-primary': index == criteria.selectBtnIndex,
                  'btn-outline-primary': index != criteria.selectBtnIndex
                }"
              >
                <small
                  >{{ item.display }}
                  <span *ngIf="showLoadingLoadActivityDate"
                    ><i class="fas fa-spinner"></i></span
                  ><span *ngIf="!showLoadingLoadActivityDate"
                    >({{ item.qty }})</span
                  ></small
                >
              </button>
            </drag-scroll>
          </div>
          <div class="col-12 text-center" *ngIf="loadingActivitiesList">
            <div class="loader"></div>
          </div>
          <div class="col-12 m-b-20" *ngIf="!loadingActivitiesList">
            <div
              class="row"
              style="max-height: calc(100vh - 453px); overflow: auto"
            >
              <div class="col-12" *ngFor="let item of data.data">
                <div
                  style="border: 1px solid #e3e3e3; padding: 5px"
                  class="poiter"
                  [ngClass]="{
                    'selected-activity': criteria.selectedActivityId == item.id
                  }"
                  (click)="selectActivity(item.id)"
                >
                  <div class="row" style="font-size: 0.8rem">
                    <div class="col-7">{{ item.code }}</div>
                    <div class="col-5 text-right">
                      {{ item.dueDate | date: "dd/MM/yyyy" }}
                    </div>
                    <div class="col-7">{{ item.description }}</div>
                    <div class="col-5 text-right">
                      <span class="text-danger" *ngIf="isOverdue(item)"
                        >ใช้หมดแล้ว</span
                      >
                      <span class="text-success" *ngIf="!isOverdue(item)"
                        >ยังใช้ไม่หมด</span
                      >
                    </div>
                    <div class="col-6">{{ item.agentName }}</div>
                    <div class="col-6 text-right">
                      <span
                        class="badge bg-warning"
                        *ngIf="item.activityStatusId == 0"
                        >{{ item.status }}</span
                      >
                      <span
                        class="badge bg-success"
                        *ngIf="
                          item.activityStatusId == 1 ||
                          item.activityStatusId == 2 ||
                          item.activityStatusId == 3
                        "
                        >{{ item.status }}</span
                      >
                      <span
                        class="badge bg-danger"
                        *ngIf="item.activityStatusId == 4"
                        >{{ item.status }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="!data.data">
                <div
                  style="border: 1px solid #e3e3e3; padding: 20px"
                  class="text-center"
                >
                  ไม่พบรายการที่ค้นหา
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="!loadingActivitiesList && data.data">
            <ngb-pagination
              class="float-right"
              [(page)]="criteria.page"
              [pageSize]="criteria.size"
              [maxSize]="5"
              [collectionSize]="data.totalRecord"
              (pageChange)="search()"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5" [ngClass]="{ 'col-md-8': isASCollapsed }">
    <div class="card m-b-20" *ngIf="selectedActivity">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">Activity ที่เลือก</h5>

            <a
              class="float-right"
              type="button"
              (click)="isASCollapsed = !isASCollapsed"
              [attr.aria-expanded]="!isASCollapsed"
              aria-controls="isASCollapsed"
              style="padding-left: 20px"
            >
              <i class="fas fa-chevron-left" *ngIf="isASCollapsed"></i>
              <i class="fas fa-chevron-right" *ngIf="!isASCollapsed"></i>
            </a>
          </div>
          <div class="col-6">
            <span
              class="badge bg-info"
              *ngIf="
                selectedActivity.ownerUser != null &&
                selectedActivity.ownerUser == user.username
              "
              >ท่านเป็นผู้ดูแล</span
            >
            <span
              class="badge bg-danger"
              *ngIf="
                selectedActivity.ownerUser != null &&
                selectedActivity.ownerUser != user.username
              "
              >ท่านไม่ใช่ผู้ดูแล</span
            >
            <span
              class="badge bg-warning poiter"
              *ngIf="selectedActivity.ownerUser == null"
              (click)="assignActivityOwner()"
              >คลิกเพื่อดูแลลูกค้า</span
            >
          </div>
          <div class="col-6 text-right">
            <div ngbDropdown *ngIf="selectedActivity">
              <a id="ddMenu1" style="color: #007bff" ngbDropdownToggle
                ><b><small>ตัวจัดการ</small></b></a
              >
              <div ngbDropdownMenu aria-labelledby="ddMenu1">
                <button
                  class="w-100"
                  (click)="assignActivityOwner2()"
                  ngbDropdownItem
                  *ngIf="user.function.SUPERVISOR"
                >
                  เปลี่ยนผู้รับผิดชอบ
                </button>

                <button
                  class="w-100"
                  (click)="assignActivityOwner()"
                  ngbDropdownItem
                  *ngIf="selectedActivity.ownerUser == null"
                >
                  ดูแลลูกค้า
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <hr />
          </div>
          <div class="col-12 text-center" *ngIf="loadingActivity">
            <div class="loader"></div>
          </div>
          <div class="col-12" *ngIf="selectedActivity">
            <h6 class="d-inline">{{ selectedActivity.code }}</h6>
            <span class="float-right"
              >ต้องติดตามภายใน :
              {{ selectedActivity.dueDate | date: "dd/MM/yyyy" }}</span
            >
          </div>
          <div class="col-12 m-b-20" *ngIf="selectedActivity">
            {{ selectedActivity.description }}

            <span
              (click)="changeEndOfDose()"
              [ngClass]="{
                'text-success': !isOverdue(selectedActivity),
                'text-danger': isOverdue(selectedActivity)
              }"
              class="float-right poiter"
              >ใช้สินค้าหมด :
              {{ selectedActivity.endOfDose | date: "dd/MM/yyyy" }}
              <span>✏️</span></span
            >
          </div>
          <div class="col-12 text-center" *ngIf="selectedActivity">
            <ul id="breadcrumbs-two">
              <li><a (click)="updateStatus(0)" class="pass">รายชื่อ</a></li>
              <li>
                <a
                  (click)="updateStatus(1)"
                  [ngClass]="{ pass: selectedActivity.activityStatusId >= 1 }"
                  >โทร</a
                >
              </li>
              <li>
                <a
                  (click)="updateStatus(2)"
                  [ngClass]="{ pass: selectedActivity.activityStatusId >= 2 }"
                  >คุย</a
                >
              </li>
              <li>
                <a
                  (click)="updateStatus(3)"
                  [ngClass]="{ pass: selectedActivity.activityStatusId >= 3 }"
                  >ปิดการขาย</a
                >
              </li>
              <li>
                <a
                  class="ccc"
                  (click)="updateStatus(4)"
                  [ngClass]="{
                    cancel: selectedActivity.activityStatusId == 4
                  }"
                  >ยกเลิก</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">Tasks</h5>
            <a class="poiter text-info float-right" (click)="createTask()"
              >เพิ่ม Task+</a
            >
            <hr />
          </div>
          <!-- <div class="col-12 m-b-20">
            <div
              style="border: 1px solid #e3e3e3; padding: 20px"
              class="text-center"
            >
              <a class="poiter text-info" (click)="createTask()">เพิ่ม Task+</a>
            </div>
          </div> -->
          <div class="col-12 section-task">
            <div class="row">
              <div
                class="col-12 text-right"
                *ngIf="openTasks && openTasks.length > 0"
              >
                <div
                  class="text-info text-right poiter"
                  (click)="isTodoCollapsed1 = !isTodoCollapsed1"
                  [attr.aria-expanded]="!isTodoCollapsed1"
                  aria-controls="collapseBasic"
                  style="background-color: #e7e7e7; padding: 5px"
                >
                  รายการที่ต้องทำ
                  <i class="ft-chevron-down" *ngIf="isTodoCollapsed1"></i
                  ><i class="ft-minus" *ngIf="!isTodoCollapsed1"></i>
                </div>
              </div>
              <div
                id="collapseBasic"
                [collapse]="isTodoCollapsed1"
                [isAnimated]="true"
                class="m-b-20 w-100"
              >
                <div
                  class="col-12 m-b-5"
                  *ngFor="let item of openTasks; let index = index"
                >
                  <div class="task-box">
                    <div class="row">
                      <div class="col-8">
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="selectViewOrder{{ index }}"
                            [(ngModel)]="item.isClose"
                            (change)="close(item)"
                          />
                          <label
                            class="custom-control-label poiter"
                            for="selectViewOrder{{ index }}"
                            style="word-break: break-all"
                            >{{ item.description }}</label
                          >
                        </div>
                      </div>
                      <div class="col-4 text-right">
                        {{ item.createBy }}
                      </div>
                      <div class="col-6">
                        <a
                          class="text-info"
                          (click)="selectActivity(item.activityId)"
                          ><small>{{ item.activityCode }}</small></a
                        >
                      </div>
                      <div class="col-6 text-right">
                        <small
                          >{{ item.scheduleDate | date: "dd/MM/yyyy" }}
                          {{ item.scheduleTime }}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-12 text-right"
                *ngIf="closeTasks && closeTasks.length > 0"
              >
                <!-- <button
                type="button"
                class="btn btn-primary"
                (click)="isTodoCollapsed2 = !isTodoCollapsed2"
                [attr.aria-expanded]="!isTodoCollapsed2"
                aria-controls="collapseBasic"
              >
                รายการที่ทำเสร็จแล้ว
                <i class="ft-chevron-down" *ngIf="isTodoCollapsed2"></i
                ><i class="ft-minus" *ngIf="!isTodoCollapsed2"></i>
              </button> -->
                <div
                  class="text-info text-right poiter"
                  (click)="isTodoCollapsed2 = !isTodoCollapsed2"
                  [attr.aria-expanded]="!isTodoCollapsed2"
                  aria-controls="collapseBasic"
                  style="background-color: #e7e7e7; padding: 5px"
                >
                  รายการที่ทำเสร็จแล้ว
                  <i class="ft-chevron-down" *ngIf="isTodoCollapsed2"></i
                  ><i class="ft-minus" *ngIf="!isTodoCollapsed2"></i>
                </div>
              </div>
              <div
                id="collapseBasic"
                [collapse]="isTodoCollapsed2"
                [isAnimated]="true"
                class="w-100"
              >
                <div class="col-12 m-b-5" *ngFor="let item of closeTasks">
                  <div class="task-box">
                    <div class="row">
                      <div class="col-8">
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="selectViewOrder{{ index }}"
                            [(ngModel)]="item.isClose"
                            (change)="reopen(item)"
                          />
                          <label
                            class="custom-control-label poiter"
                            for="selectViewOrder{{ index }}"
                            style="
                              word-break: break-all;
                              text-decoration-line: line-through;
                            "
                            >{{ item.description }}</label
                          >
                        </div>
                      </div>
                      <div class="col-4 text-right">
                        {{ item.createBy }}
                      </div>
                      <div class="col-6">
                        <a
                          class="text-info"
                          (click)="selectActivity(item.activityId)"
                          ><small>{{ item.activityCode }}</small></a
                        >
                      </div>
                      <div class="col-6 text-right">
                        <small
                          >{{ item.scheduleDate | date: "dd/MM/yyyy" }}
                          {{ item.scheduleTime }}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3" id="isASCollapsed" [collapse]="isASCollapsed">
    <div class="card section3">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="d-inline">Note</h5>
            <a
              class="float-right"
              type="button"
              (click)="isNoteCollapsed = !isNoteCollapsed"
              [attr.aria-expanded]="!isNoteCollapsed"
              aria-controls="collapsenote"
            >
              <i class="fas fa-plus" *ngIf="isNoteCollapsed"></i>
              <i class="fas fa-minus" *ngIf="!isNoteCollapsed"></i>
            </a>

            <hr />
          </div>
          <div
            class="col-12"
            id="collapsenote"
            [collapse]="isNoteCollapsed"
            [isAnimated]="true"
          >
            <div
              class="text-right m-b-10"
              *ngIf="!loadingNote && notes && notes.data"
            >
              <a class="poiter text-info" (click)="createNote()">เพิ่มNote+</a>
            </div>

            <div *ngIf="!loadingNote && (!notes || !notes.data)">
              <div
                style="border: 1px solid #e3e3e3; padding: 20px"
                class="text-center"
              >
                <a class="poiter text-info" (click)="createNote()"
                  >เพิ่มNote+</a
                >
              </div>
            </div>

            <div class="text-center" *ngIf="loadingNote">
              <div class="loader"></div>
            </div>

            <div class="note" *ngFor="let item of notes.data">
              <div class="row">
                <div class="col-9">
                  <small>{{
                    item.createDate | date: "dd/MM/yyyy HH:mm:ss"
                  }}</small>
                </div>
                <div class="col-3 text-right">
                  <i
                    (click)="updateNote(item)"
                    class="fas fa-edit poiter text-info"
                  ></i>

                  <i
                    (click)="deleteNote(item)"
                    class="far fa-trash-alt m-l-10 text-danger poiter"
                  ></i>
                </div>
                <div class="col-12" style="white-space: pre-line">
                  {{ item.description }}
                </div>
                <div class="col-12">
                  <small>{{ item.createBy }}</small>
                </div>
              </div>
            </div>
            <div
              *ngIf="
                !loadingNote &&
                notes.data &&
                notes.totalRecord > noteCriteria.size
              "
            >
              <ngb-pagination
                class="float-right"
                [(page)]="noteCriteria.page"
                [pageSize]="noteCriteria.size"
                [maxSize]="5"
                [collectionSize]="notes.totalRecord"
                (pageChange)="loadNote()"
              ></ngb-pagination>
            </div>
          </div>

          <div class="col-12 m-t-20">
            <h5 class="d-inline">บันทึก CRM</h5>
            <a
              class="float-right"
              type="button"
              (click)="isHistoryCollapsed = !isHistoryCollapsed"
              [attr.aria-expanded]="!isHistoryCollapsed"
              aria-controls="isHistoryCollapsed"
            >
              <i class="fas fa-plus" *ngIf="isHistoryCollapsed"></i>
              <i class="fas fa-minus" *ngIf="!isHistoryCollapsed"></i>
            </a>
            <hr />
          </div>

          <div
            class="col-12"
            id="isHistoryCollapsed"
            [collapse]="isHistoryCollapsed"
            [isAnimated]="true"
            *ngIf="histories"
          >
            <div class="text-center" *ngIf="loadingHistory">
              <div class="loader"></div>
            </div>
            <div
              class="transactionHistory"
              *ngFor="let item of histories.data"
              style="zoom: 90%"
            >
              <div class="row">
                <div class="col-12">
                  <b>{{ item.action }}</b>
                </div>
                <div class="col-12" *ngIf="item.activityCode">
                  <b>Activity : {{ item.activityCode }}</b>
                </div>
                <div class="col-12">
                  {{ item.description }}
                </div>
                <div class="col-6 text-left">
                  <small>{{ item.createUser }}</small>
                </div>
                <div class="col-6 text-right">
                  <small>{{
                    item.createDttm | date: "dd/MM/yyyy HH:mm"
                  }}</small>
                </div>
              </div>
            </div>
            <div
              *ngIf="
                !loadingHistory &&
                histories.data &&
                histories.totalRecord > historyCriteria.size
              "
            >
              <ngb-pagination
                class="float-right"
                [(page)]="historyCriteria.page"
                [pageSize]="historyCriteria.size"
                [maxSize]="5"
                [collectionSize]="histories.totalRecord"
                (pageChange)="loadHistories()"
              ></ngb-pagination>
            </div>
          </div>
          <div
            class="col-12"
            *ngIf="!loadingHistory && (!histories || !histories.data)"
          >
            <div
              style="border: 1px solid #e3e3e3; padding: 20px"
              class="text-center"
            >
              ไม่มีบันทึก CRM
            </div>
          </div>

          <div class="col-12 m-t-20">
            <h5 class="d-inline">ประวัติการสั่งซื้อ</h5>
            <a
              class="float-right"
              type="button"
              (click)="isTransactionCollapsed = !isTransactionCollapsed"
              [attr.aria-expanded]="!isTransactionCollapsed"
              aria-controls="isTransactionCollapsed"
            >
              <i class="fas fa-plus" *ngIf="isTransactionCollapsed"></i>
              <i class="fas fa-minus" *ngIf="!isTransactionCollapsed"></i>
            </a>
            <hr />
          </div>

          <div
            class="col-12"
            id="isTransactionCollapsed"
            [collapse]="isTransactionCollapsed"
            [isAnimated]="true"
            *ngIf="customer && customer.orders"
          >
            <div class="text-center" *ngIf="loadingOrder">
              <div class="loader"></div>
            </div>
            <div
              class="transactionHistory"
              *ngFor="let item of customer.orders.data"
            >
              <div class="row">
                <div class="col-8">
                  <a
                    class="text-info poiter"
                    [routerLink]="['/order/view/' + item.id]"
                    routerLinkActive="router-link-active"
                    >{{ item.orderNo }}</a
                  >
                </div>

                <div class="col-4 text-right">
                  <small>{{ item.orderDate | date: "dd/MM/yyyy" }}</small>
                </div>

                <div class="col-12" *ngFor="let detail of item.orderDetail">
                  <small
                    >- {{ detail.name }} {{ detail.qty }} {{ detail.unit }}
                  </small>
                </div>

                <div class="col-12">
                  <small>{{ item.businessName }} : {{ item.createBy }}</small>
                </div>
                <div class="col-12 text-right">
                  <h5>ยอด {{ item.netAmount | number: ".2" }}</h5>
                </div>
              </div>
            </div>
            <div
              *ngIf="
                !loadingOrder &&
                customer.orders.data &&
                customer.orders.totalRecord > orderCriteria.size
              "
            >
              <ngb-pagination
                class="float-right"
                [(page)]="orderCriteria.page"
                [pageSize]="orderCriteria.size"
                [maxSize]="5"
                [collectionSize]="customer.orders.totalRecord"
                (pageChange)="loadOrderHistories()"
              ></ngb-pagination>
            </div>
          </div>
          <div
            class="col-12"
            *ngIf="
              !loadingOrder &&
              (!customer || !customer.orders || !customer.orders.data)
            "
          >
            <div
              style="border: 1px solid #e3e3e3; padding: 20px"
              class="text-center"
            >
              ไม่มีประวัติการสั่งซื้อ
            </div>
          </div>

          <!-- <div class="col-12">
            <h5 class="d-inline">ที่อยู่จัดส่ง</h5>
            <hr />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
