// Global Overrides Template Level Only

//------- ng-accordion -------
.accordion {
  .card {
    margin: 0;
    background-color: transparent !important;

    &:not(:last-of-type) {
      .card-header {
        border-bottom: 1px solid $border-color;
      }
    }

    &:last-of-type {
      .card-header button {
        padding-bottom: 0;
      }

      .card-body {
        padding-bottom: 0;
      }
    }

    .card-header {
      padding: 0;

      button {
        padding: 1.5rem;
        width: 100%;
        text-align: start;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

// for dark and transparent layouts
html body.layout-dark {
  .accordion .card {
    box-shadow: none;
  }

  &:not(.layout-transparent) {
    .accordion .card .card-header {
      border-color: $dl-border-color;
    }
  }

  &.layout-transparent {
    .accordion .card .card-header {
      border-color: $tl-border-color;

      button:not([disabled]) {
        color: map-get($primary-color, lighten-4);
      }
    }
  }
}

//------- horizontal timeline -------
.cd-horizontal-timeline .events-content li {
  transform: translateX(0);
}

//------- time picker -------
.ngb-tp-input-container button:hover {
  box-shadow: none;
}

//------- Chartist Tooltip -------
.chartist-tooltip:not(.tooltip-show) {
  padding: 0;

  &:before {
    border: 0;
  }
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #232323;
}

.btn-primary:hover {
  background-color: #f32e2e;
  border-color: #f22222;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
}

.card {
  margin: 0;
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.poiter {
  cursor: pointer;
}

.table {
  font-size: 0.85rem;
}

.table thead th {
  background-color: #f4f4f4;
}

.table th,
.table td {
  padding: 5px;
  border-top: 1px solid #e0e0e0;
}

body {
  font-family: "Kanit" !important;
  font-weight: 300;
  font-size: 14px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.btn {
  font-weight: 300;
  font-size: 0.9rem;
  min-width: 100px;
}

.is-valid,
.is-invalid {
  background: none !important;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 15px;
  width: 300px;
  border-radius: 0;
  background: none;
  font-size: 0.9rem;
  background-color: #ffffff !important;
  color: #626262 !important;
}
