// Global Overrides Template Level Only

//------- ng-accordion -------
.accordion {
  .card {
    margin: 0;
    background-color: transparent !important;

    &:not(:last-of-type) {
      .card-header {
        border-bottom: 1px solid $border-color;
      }
    }

    &:last-of-type {
      .card-header button {
        padding-bottom: 0;
      }

      .card-body {
        padding-bottom: 0;
      }
    }

    .card-header {
      padding: 0;

      button {
        padding: 1.5rem;
        width: 100%;
        text-align: start;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

// for dark and transparent layouts
html body.layout-dark {
  .accordion .card {
    box-shadow: none;
  }

  &:not(.layout-transparent) {
    .accordion .card .card-header {
      border-color: $dl-border-color;
    }
  }

  &.layout-transparent {
    .accordion .card .card-header {
      border-color: $tl-border-color;

      button:not([disabled]) {
        color: map-get($primary-color, lighten-4);
      }
    }
  }
}

//------- horizontal timeline -------
.cd-horizontal-timeline .events-content li {
  transform: translateX(0);
}

//------- time picker -------
.ngb-tp-input-container button:hover {
  box-shadow: none;
}

//------- Chartist Tooltip -------
.chartist-tooltip:not(.tooltip-show) {
  padding: 0;

  &:before {
    border: 0;
  }
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #232323;
}

.btn-primary:hover {
  background-color: #f32e2e;
  border-color: #f22222;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
}

.card {
  margin: 0;
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.poiter {
  cursor: pointer;
}

.table {
  font-size: 0.85rem;
}

.table thead th {
  background-color: #f4f4f4;
}

.table th,
.table td {
  padding: 5px;
  border-top: 1px solid #e0e0e0;
}

body {
  font-family: "Kanit" !important;
  font-weight: 300;
  font-size: 14px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.btn {
  font-weight: 300;
  font-size: 0.9rem;
  min-width: 100px;
}

.is-valid,
.is-invalid {
  background: none !important;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 15px;
  width: 300px;
  border-radius: 0;
  background: none;
  font-size: 0.9rem;
  background-color: #ffffff !important;
  color: #626262 !important;
}

.upload-box {
  border: 1px dotted darkgrey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;

  .upload-icon {
    font-size: 3rem;
    color: #454545;
  }
}

.upload-box.invalid {
  border: 1px dotted #dc3545;
  color: #dc3545 !important;
}

.img-fluid2 {
  max-width: 150px;
}

.theme-green .bs-datepicker-head {
  background-color: #ed1c24;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #ed1c24;
}

.m-t-20 {
  margin-top: 20px;
}

.task-box {
  padding: 6px 10px 6px 10px;
  border: 1px solid #e0e0e0;
  cursor: pointer;

  &:hover {
    border: 1px solid #ed1c24;
  }
}

.dropdown-btn {
  border: 1px solid #e0e0e0 !important;
  padding: 0.25rem 0.5rem !important;
  border-radius: 0px !important;

  .selected-item {
    font-size: 12px !important;
    max-width: 200px !important;
  }
}

.dropdown-multiselect--active .dropdown-multiselect__caret {
  transform: rotateZ(0deg) !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ed1c24;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: inline-block;
}
