<!--Login Page Starts-->
<ngx-spinner
  type="ball-triangle-path"
  size="medium"
  bdColor="rgba(0, 0, 0, 0.8)"
  color="#fff"
></ngx-spinner>
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="
                  col-lg-6
                  d-none d-lg-flex
                  justify-content-center
                  align-items-center
                  auth-img-bg
                  p-3
                "
              >
                <img
                  src="assets/img/gallery/login.png"
                  alt=""
                  class="img-fluid"
                  width="300"
                  height="230"
                />
              </div>
              <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="mb-2 card-title">Froce Change Password</h4>
                <p>กรุณาเปลี่ยน Password เพื่อความปลอดภัยในการใช้งานของท่าน.</p>
                <!-- <ngb-alert
                  type="danger"
                  class="mb-2"
                  *ngIf="isLoginFailed"
                  (close)="isLoginFailed = false"
                >

                </ngb-alert> -->
                <div
                  *ngIf="loginFailed"
                  class="alert alert-danger"
                  role="alert"
                >
                  {{ loginFailed }}
                </div>
                <form [formGroup]="loginForm">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="newPassword"
                      class="form-control password"
                      placeholder="New Password"
                      [ngClass]="{
                        'is-invalid':
                          loginFormSubmitted && lf.newPassword.invalid,
                        'is-valid':
                          loginFormSubmitted && !lf.newPassword.invalid
                      }"
                      required
                      (keyup.enter)="onSubmit()"
                    />
                    <div
                      *ngIf="
                        loginFormSubmitted && lf.newPassword.errors?.required
                      "
                      class="help-block mt-1 text-danger"
                    >
                      <i class="ft-alert-circle align-middle"></i>
                      บังคับกรอกข้อมูล
                    </div>
                    <small
                      class="text-danger d-block"
                      *ngIf="
                        loginFormSubmitted &&
                        (lf.newPassword.errors?.maxlength ||
                          lf.newPassword.errors?.minlength)
                      "
                      >6 - 50 ตัวอักษร</small
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="confirmPassword"
                      class="form-control password"
                      placeholder="Confirm Password"
                      [ngClass]="{
                        'is-invalid':
                          loginFormSubmitted && lf.confirmPassword.invalid,
                        'is-valid':
                          loginFormSubmitted && !lf.confirmPassword.invalid
                      }"
                      required
                      (keyup.enter)="onSubmit()"
                    />
                    <div
                      *ngIf="
                        loginFormSubmitted &&
                        lf.confirmPassword.errors?.required
                      "
                      class="help-block mt-1 text-danger"
                    >
                      <i class="ft-alert-circle align-middle"></i>
                      บังคับกรอกข้อมูล
                    </div>
                    <div
                      *ngIf="
                        loginFormSubmitted && lf.confirmPassword.errors?.notSame
                      "
                      class="help-block mt-1 text-danger"
                    >
                      <i class="ft-alert-circle align-middle"></i>
                      รหัสผ่านไม่ตรงกัน
                    </div>
                  </div>

                  <div
                    class="
                      d-flex
                      justify-content-between
                      flex-sm-row flex-column
                    "
                  >
                    <a class="btn btn-primary w-100" (click)="onSubmit()"
                      >ยืนยันการเปลี่ยนรหัสผ่าน</a
                    >
                  </div>
                </form>
                <hr />
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-center w-100">
                    <small>HOPEFUL CO,.LTD 2021</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
