<div
  mat-dialog-content
  style="max-height: 90vh"
  class="m-b-20"
  *ngIf="data"
  [formGroup]="formGroup"
>
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline">จัดการ Note</h5>
      <i class="fas fa-times float-right poiter" (click)="onNoClick()"></i>
      <hr />
    </div>

    <div class="col-12">
      <div
        class="form-group"
        [ngClass]="{
          'is-invalid': f.description.touched && f.description.errors?.required
        }"
      >
        <label for="description">รายละเอียด</label>
        <textarea
          autocomplete="off"
          id="description"
          rows="4"
          class="form-control form-control-sm"
          formControlName="description"
          [(ngModel)]="data.description"
          [ngClass]="{
            'is-invalid': f.description.touched && f.description.errors,
            'is-valid': f.description.touched && !f.description.errors
          }"
        ></textarea>
        <small
          class="text-danger d-block"
          *ngIf="f.description.touched && f.description.errors?.required"
          >{{ "error.required" | translate }}</small
        >
      </div>
    </div>
    <div class="col-12 text-right">
      <button
        id="btnCancel"
        type="button"
        class="btn btn-secondary"
        (click)="onNoClick()"
      >
        ยกเลิก
      </button>
      <button
        id="btnSearch"
        type="button"
        class="btn btn-primary m-l-10"
        (click)="save()"
      >
        ยืนยัน
      </button>
    </div>
  </div>
</div>
