<app-nav-bar></app-nav-bar>
<div class="bg-custom">
  <div class="container" style="padding-top: 80px">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-md-6 col-lg-4 text-center verticalLine">
        <div class="card">
          <div class="card-body">
            <div class="row" [formGroup]="fromGroup">
              <div class="col-12 m-b-20">
                <h5>เปลี่ยนรหัสผ่าน</h5>
              </div>
              <div class="col-12 col-md-1"></div>
              <div class="col-12 col-md-10 text-left">
                <div class="row">
                  <div class="col-12">
                    <div
                      class="form-group"
                      [ngClass]="{
                        'is-invalid': f.password.touched && f.password.errors
                      }"
                    >
                      <input
                        (keyup.enter)="changePassword()"
                        formControlName="password"
                        autocomplete="off"
                        placeholder="รหัสผ่านใหม่"
                        id="password"
                        class="form-control form-control-sm password"
                        [ngClass]="{
                          'is-invalid': f.password.invalid,
                          'is-valid': !f.password.invalid
                        }"
                      />
                      <div
                        *ngIf="
                          f.password.touched && f.password.errors?.required
                        "
                        class="help-block mt-1 text-danger"
                      >
                        <i class="ft-alert-circle align-middle"></i>
                        บังคับกรอกข้อมูล
                      </div>
                      <small
                        class="text-danger d-block"
                        *ngIf="
                          f.password.touched &&
                          (f.password.errors?.maxlength ||
                            f.password.errors?.minlength)
                        "
                        ><i class="ft-alert-circle align-middle"></i> 6 - 50
                        ตัวอักษร</small
                      >
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="form-group"
                      [ngClass]="{
                        'is-invalid':
                          f.confirmPassword.touched && f.confirmPassword.errors
                      }"
                    >
                      <input
                        (keyup.enter)="changePassword()"
                        formControlName="confirmPassword"
                        autocomplete="off"
                        placeholder="ยืนยันรหัสผ่าน"
                        id="confirmPassword"
                        class="form-control form-control-sm password"
                        [ngClass]="{
                          'is-invalid': f.confirmPassword.invalid,
                          'is-valid': !f.confirmPassword.invalid
                        }"
                      />
                      <div
                        *ngIf="
                          f.confirmPassword.touched &&
                          f.confirmPassword.errors?.required
                        "
                        class="help-block mt-1 text-danger"
                      >
                        <i class="ft-alert-circle align-middle"></i>
                        บังคับกรอกข้อมูล
                      </div>

                      <div
                        *ngIf="
                          f.confirmPassword.touched &&
                          f.confirmPassword.errors?.notSame
                        "
                        class="help-block mt-1 text-danger"
                      >
                        <i class="ft-alert-circle align-middle"></i>
                        รหัสผ่านไม่ตรงกัน
                      </div>
                    </div>
                  </div>
                  <div class="col-12 m-b-20">
                    <button
                      id="btnLogin"
                      type="button"
                      class="btn btn-primary w-100"
                      (click)="changePassword()"
                    >
                      ยืนยันการเปลี่ยนรหัสผ่าน
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
